
  <div class="row">
    <h2 class="center">this week's reminders</h2>
  </div>

  <div class="row">
    <div class="col s8 offset-s2 card-panel">
      <div *ngIf="load" class="row">
        <mat-spinner [color]="accent" class="col"></mat-spinner>
      </div>

      <div class="section" *ngIf="!load && reminders">
        <div class="row">
          <mat-list>
            <mat-list-item *ngFor="let friend of reminders">
              <mat-icon mat-list-icon  *ngIf="!evaluateDate(friend.reminder.lastContact)" (click)="contacted(friend)">
                <a><span>crop_din</span></a>
              </mat-icon>
              <mat-icon mat-list-icon *ngIf="evaluateDate(friend.reminder.lastContact)">
                <span >done</span>
              </mat-icon>
              <h4 mat-line routerLink="/app/profile/{{friend.id}}">{{friend.name}}</h4>
              <!-- @TODO what about overdue reminders?! -->
              <p mat-line>{{friend.reminder.daysLeft}} day(s) left</p>
              <a *ngIf="friend._email" href="mailto:{{friend._email}}"><i class="material-icons right">email</i></a>
              <a *ngIf="friend._phone" href="tel:{{friend._phone}}"><i class="material-icons right">phone</i></a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>

      <div class="row" *ngIf="!load && !reminders" id="noReminders">
        <h3 class="center"><i class="material-icons">check</i></h3>
        <h4 class="center">great job! you're all caught up for the week</h4>
      </div>

    </div>
  </div>
