
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="secondary" routerLink="/app/home">myVillage</span>
      <span class="example-spacer"></span>
      <div *ngIf="loggedIn == true">
        <a routerLink="/app/friends"><i class="material-icons">contacts</i></a>
        <span class="example-spacer"></span>
        <a routerLink="/app/profile/0"><i class="material-icons">person</i></a>
        <span class="example-spacer"></span>
        <a href='/logout'><i class="material-icons">power_settings_new</i></a>
        <span class="example-spacer"></span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="loggedIn == false">
    <div class="container">
      <mat-tab-group>
        <mat-tab label="login">
          <form class="col s8 offset-s2 card-panel form-signin"
                (ngSubmit)="login()" #loginForm="ngForm">
            <div class="section">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" class="validate" id="username" required
                          [(ngModel)]="username" name="username">
                  <label for="username">Username</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="password" class="validate" id="password" required
                          [(ngModel)]="password" name="password">
                  <label for="password">Password</label>
                </div>
              </div>

              <button type="submit" class="btn waves-effect waves-light" name="action"
                      [disabled]="!loginForm.form.valid" >
                Sign in <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </mat-tab>

        <mat-tab label="register">
          <form class="col s8 offset-s2 card-panel form-signin"
                (ngSubmit)="register()" #registerForm="ngForm">
            <div class="section">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" class="validate" id="username" required
                          [(ngModel)]="username" name="username">
                  <label for="username">Username</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="email" class="validate" id="email" required
                          [(ngModel)]="email" name="email">
                  <label for="email">Email</label>
                </div>
              </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input type="password" class="validate" id="password" required
                            [(ngModel)]="password" name="password">
                    <label for="password">Password</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input type="password" class="validate" id="confirmPassword" required
                            [(ngModel)]="confirmPassword" name="confirmPassword">
                    <label for="confirmPassword">Confirm Password</label>
                  </div>
                </div>

              <button type="submit" class="btn waves-effect waves-light" name="action"
                      [disabled]="!registerForm.form.valid">
                Sign up <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
