
mat-spinner {
  margin-top: 40%;
  margin-left: 40%;
}

.mylabel {
  font-size: 1.25rem;
  color: rgba(0,0,0,0.87);
  opacity: 1;
}

.mylabel .mat-tab-label-active {
  opacity: 1;
}

h1 {
  text-align: center;
  font-family: 'justbecool';
  font-size: 3.25rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

p {
  margin-bottom: 0em;
}

.myChipList {
  display: block;
}
.myChipList input {
  border-bottom: none;
  margin-right: 0.75rem;
}
.myChipList input:focus {
  box-shadow: none;
}

.mat-toolbar-row i {
  color: #00796b;
}

#finish {
  background-color: #26a69a;
  color: #fff;
}
#finish:hover {
  color: #fff;
  background-color: #2bbbad; /* #80cbc4 */
}
