
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="secondary" routerLink="/app/home">village</span>
      <span class="example-spacer"></span>
      <div *ngIf="loggedIn == true">
        <a routerLink="/app/friends"><i class="material-icons">contacts</i></a>
        <span class="example-spacer"></span>
        <a routerLink="/app/profile/0"><i class="material-icons">person</i></a>
        <span class="example-spacer"></span>
        <a href='/logout'><i class="material-icons">power_settings_new</i></a>
        <span class="example-spacer"></span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="loggedIn == false" id="splash">
    <mat-card>
      <mat-card-title routerLink="/app/login">login</mat-card-title>
    </mat-card>
    <mat-card>
      <mat-card-title routerLink="/app/register">register</mat-card-title>
    </mat-card>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
