
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="secondary" routerLink="/app/home">myVillage</span>
      <span class="example-spacer"></span>
      <div *ngIf="loggedIn == true">
        <a routerLink="/app/notifications"><i class="material-icons">notifications</i></a>
        <span class="example-spacer"></span>
        <a routerLink="/app/friends"><i class="material-icons">contacts</i></a>
        <span class="example-spacer"></span>
        <!-- <a routerLink="/app/profile/0"><i class="material-icons">person</i></a>
        <span class="example-spacer"></span> -->
        <a href='/logout'><i class="material-icons">power_settings_new</i></a>
        <span class="example-spacer"></span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="loggedIn == false">
    <div class="container" id="splash">
      <h1>Welcome to myVillage!</h1>
      <h2>get started with your community</h2>

      <mat-tab-group>
        <div class="label">
          <mat-tab label="login">
            <ng-template mat-tab-label>
              <span class="mylabel">login</span>
            </ng-template>
            <form class="col s8 offset-s2 card-panel form-signin"
                  (ngSubmit)="login()" #loginForm="ngForm">
              <div class="section">
                <div class="row">
                  <div class="col s12">
                    <mat-form-field>
                      <input matInput type="email" validate
                        placeholder="email" [(ngModel)]="email" name="email">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col s12">
                    <mat-form-field>
                      <input matInput type="password" placeholder="password"
                        [(ngModel)]="password" name="password">
                    </mat-form-field>
                  </div>
                </div>

                <button type="submit" class="btn waves-effect waves-light" name="action"
                        [disabled]="!loginForm.form.valid">
                  Sign in <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </mat-tab>
        </div>

        <mat-tab  label="register">
          <ng-template mat-tab-label>
            <span class="mylabel">register</span>
          </ng-template>
          <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
            <ng-template matStepperIcon="edit">
              <mat-icon>done</mat-icon>
            </ng-template>
            <mat-step label="Login Details" [completed]="detailsForm.form.valid">
              <form #detailsForm="ngForm">
                <p>First, please enter your basic login information.</p>
                <div class="section">
                  <div class="row">
                    <div class="col s12">
                      <mat-form-field>
                        <input matInput placeholder="name" [(ngModel)]="name" name="name" required>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12">
                      <mat-form-field>
                        <input matInput type="email" validate
                          placeholder="email" [(ngModel)]="email" name="email" required>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12">
                      <table cellspacing="0">
                        <tr>
                          <td><mat-form-field>
                            <input matInput type="password" placeholder="password"
                              [(ngModel)]="password" name="password" required>
                          </mat-form-field></td>
                          <td><mat-form-field>
                            <input matInput type="password" placeholder="confirm password"
                              [(ngModel)]="confirmPassword" name="confirm password">
                          </mat-form-field></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div>
                  <button mat-button matStepperNext class="right" type="submit" name="action"
                          [disabled]="!detailsForm.form.valid">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step label="Personal Info">
              <p>Tell us a little more about yourself</p>
              <div class="section">
                <div class="row">
                  <div class="col s12">
                    <mat-form-field>
                      <input matInput placeholder="Where's your hometown?"
                        [(ngModel)]="hometown.name" name="hometown">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col s12">
                    <mat-form-field>
                      <input matInput placeholder="Where did you go to school?"
                        [(ngModel)]="school.name" name="school">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div>
                <!-- @TODO show 'skip' unless text is inputted -->
                <button mat-button matStepperNext class="right">Next</button>
                <button mat-button matStepperPrevious class="right">Back</button>
              </div>
            </mat-step>
            <mat-step label="Circles">
              <div *ngFor="let circle of circles">
                <p>Who are you closest friends from <strong>{{circle.name}}</strong>?</p>
                <mat-form-field class="myChipList">
                  <mat-chip-list #friendList>
                    <mat-chip *ngFor="let friend of circle.friends" [removable]="removable"
                      (remove)="removeFriend(friend, circle)">
                        {{friend.name}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input [matChipInputFor]="friendList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="addFriend($event, circle)">
                  </mat-chip-list>
                </mat-form-field>
              </div>

              <div>
                <button id="finish" mat-button matStepperNext class="right btn waves-effect waves-light"
                  (click)="register()">Finish</button>
                <button mat-button matStepperPrevious class="right">Back</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <div class="row center-align">
                <h4>Congratulations! You're all set up.</h4>
                <a class="btn waves-effect waves-light" (click)="login()">Go to Dashboard</a>
              </div>
            </mat-step>
          </mat-horizontal-stepper>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div *ngIf="loggedIn == true" class="container">
    <router-outlet></router-outlet>
  </div>
