
  <div class="row">
    <div class="col">
      <a (click)="goBack()" class="btn-floating btn-large waves-effect waves-light teal lighten-2" style="top: 14px; left: -135px;">
        <i class="material-icons">navigate_before</i>
      </a>
    </div>
    <div class="col-1" *ngIf="name">
      <h1 class="center">{{name}}</h1>
    </div>
  </div>

  <mat-spinner *ngIf="loading"></mat-spinner>

  <div *ngIf="!loading">
    <div>
      <input placeholder="Search for Friends" type="text" #keywordSearch [(ngModel)]="keyword" name="keyword" (input)="searchFriends(keywordSearch.value)">
    </div>

    <div>
      <div class="row" *ngIf="childCircles && friends">
        <mat-tab-group>
          <mat-tab label="{{name}} friends">
            <mat-grid-list cols="2" rowHeight="2.5:1">
              <mat-grid-tile  *ngFor="let friend of friends">
                <mat-card class="friends" routerLink="/app/profile/{{friend.id}}">
                  <mat-card-title-group>
                    <img mat-card-sm-image *ngIf="friend.img" src="{{friend.img}}" alt="Photo of {{friend.name}}">
                    <mat-card-title>{{friend.name}}</mat-card-title>
                  </mat-card-title-group>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-tab>
          <span *ngFor="let child of childCircles">
            <mat-tab label="{{child.name}}">
              <mat-grid-list cols="2" rowHeight="2.5:1" *ngIf="child.friends">
                <mat-grid-tile  *ngFor="let friend of child.friends">
                  <mat-card class="friends" routerLink="/app/profile/{{friend.id}}">
                    <mat-card-title-group>
                      <img mat-card-sm-image *ngIf="friend.img" src="{{friend.img}}" alt="Photo of {{friend.name}}">
                      <mat-card-title>{{friend.name}}</mat-card-title>
                    </mat-card-title-group>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
              <div *ngIf="!child.friends" class="col s8 offset-s2 card-panel center-align">
                <h5>where is everyone?</h5>
                <h4>¯\_(ツ)_/¯</h4>
                <div class="card-action">
                  <a class="btn waves-effect waves-light" routerLink="/app/friends/add">Add Some Friends</a>
                </div>
              </div>
            </mat-tab>
          </span>
        </mat-tab-group>
      </div>
    </div>

    <div class="row" *ngIf="!childCircles && friends">
      <mat-grid-list cols="2" rowHeight="2.5:1">
        <mat-grid-tile  *ngFor="let friend of friends">
          <mat-card class="friends" routerLink="/app/profile/{{friend.id}}">
            <mat-card-title-group>
              <img mat-card-sm-image *ngIf="friend.img" src="{{friend.img}}" alt="Photo of {{friend.name}}">
              <mat-card-title>{{friend.name}}</mat-card-title>
            </mat-card-title-group>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="row" *ngIf="!friends">
      <div class="col s8 offset-s2 card-panel center-align">
        <h5>where is everyone?</h5>
        <h4>¯\_(ツ)_/¯</h4>
        <div class="card-action">
          <a class="btn waves-effect waves-light" routerLink="/app/friends/add">Add Some Friends</a>
        </div>
      </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a *ngIf="routeId" routerLink="/app/circles/{{routeId}}/edit" class="btn-floating btn-large waves-effect waves-light teal lighten-2">
        <i class="material-icons teal lighten-2">edit</i>
      </a>
      <a *ngIf="!routeId" routerLink="/app/friends/add" class="btn-floating btn-large waves-effect waves-light teal lighten-2">
        <i class="material-icons teal lighten-2">add</i>
      </a>
    </div>
  </div>
