
  <a (click)="goBack()" class="btn-floating btn-large waves-effect waves-light teal lighten-2" style="top: 14px; left: -135px;">
    <i class="material-icons">navigate_before</i>
  </a>

  <mat-card  *ngFor="let friend of friends" class="friends" routerLink="/app/profile/{{friend.id}}">
    <mat-card-title-group>
      <img mat-card-sm-image *ngIf="friend.img" src="{{friend.img}}" alt="Photo of {{friend.name}}">
      <mat-card-title>{{friend.name}}</mat-card-title>
      <!-- <mat-card-subtitle>{{friend.email}}</mat-card-subtitle> -->
    </mat-card-title-group>
  </mat-card>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a routerLink="/app/friends/add" class="btn-floating btn-large waves-effect waves-light teal lighten-2">
      <i class="material-icons teal lighten-2">add</i>
    </a>
  </div>
