
  <!-- form becomes inaccessible with the fixed button ??? -->
  <!-- <div class="fixed-action-btn" style="top: 70px; left: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light teal lighten-2"
        routerLink="/app/login">
      <i class="material-icons">arrow_back</i>
    </a>
  </div> -->

  <div class="row">
    <h1>Register</h1>
  </div>

  <div class="row">
    <form class="col s8 offset-s2 card-panel form-signin"
          (ngSubmit)="onSubmit()" #registerForm="ngForm">

      <div class="section">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" class="validate" id="username" required
                    [(ngModel)]="username" name="username">
            <label for="username">Username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="email" class="validate" id="email" required
                    [(ngModel)]="email" name="email">
            <label for="email">Email</label>
          </div>
        </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="password" class="validate" id="password" required
                      [(ngModel)]="password" name="password">
              <label for="password">Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="password" class="validate" id="confirmPassword" required
                      [(ngModel)]="confirmPassword" name="confirmPassword">
              <label for="confirmPassword">Confirm Password</label>
            </div>
          </div>

        <button type="submit" class="btn waves-effect waves-light" name="action"
                [disabled]="!registerForm.form.valid">
          Sign up <i class="material-icons right">send</i>
        </button>
      </div>

    </form>
  </div>
