
  <div class="row">
    <h1>Login</h1>
  </div>

  <div class="row">
    <form class="col s8 offset-s2 card-panel form-signin" role="form" method="post" action="">

      <div class="section">
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Sign in
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a href="/register">Register a new account</a>
      </div>
    </form>
  </div>
