
  <div class="row">
    <h1>Login</h1>
  </div>

  <div class="row">
    <form class="col s8 offset-s2 card-panel form-signin"
          (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <div class="section">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" class="validate" id="username" required
                    [(ngModel)]="username" name="username">
            <label for="username">Username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="password" class="validate" id="password" required
                    [(ngModel)]="password" name="password">
            <label for="password">Password</label>
          </div>
        </div>

        <button type="submit" class="btn waves-effect waves-light" name="action"
                [disabled]="!loginForm.form.valid" >
          Sign in <i class="material-icons right">send</i>
        </button>
      </div>

      <div class="divider"></div>

      <div class="section">
        <a routerLink="/app/register">Register a new account</a>
      </div>

    </form>
  </div>
