/* @import "./theme.scss"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: rgba(178, 223, 219, 0.3);
}

.brand {
  font-family: 'justbecool';
}

.secondary {
  font-family: 'justbecool';
}
.secondary span {
  font-family: 'justbecool';
}

.body-font {
  font-family: 'san-francisco';
}

a {
  color: #56b6ac;
}

/***********/
/* nav bar */
/***********/

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

/***********/
/* resolve
  overlap */
/***********/

.card-panel .row {
  margin-bottom: 0;
}

.card-panel .mat-form-field {
  width: 90%;
  margin: 1em
}

.mat-form-field {
  width: 100%;
}

input.mat-input-element,
input[type=email].mat-input-element,
input[type=password].mat-input-element {
  border-bottom: none;
  margin: -0.0625em 0 0 0;
  height: 100%;
}
input.mat-input-element:focus,
input[type=email].mat-input-element:focus,
input[type=password].mat-input-element:focus,
input[type=tel].mat-input-element:focus,
input[type=date].mat-input-element:focus {
  box-shadow: none!important;
  border-bottom: none!important;
  height: 100%;
}
