@import '~@angular/material/_theming';
@include mat-core();

$my-app-primary: mat-palette($mat-teal, 200); // mat-palette($mat-cyan, 300, 700);
$my-app-accent:  mat-palette($mat-teal, 400);
$my-app-warn:    mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-amber, A700, A200, 800);
  $alternate-accent:  mat-palette($mat-yellow, 400);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

  @include angular-material-theme($alternate-theme);
}

// @import '~@angular/material/theming';
//
// // always include only once per project
// @include mat-core();
//
// // import our custom themes
// @import 'my-theme.scss';
// @import 'my-light-theme.scss';
// @import 'my-dark-theme.scss';
//
// .my-theme {
//   @include angular-material-theme($my-theme);
// }
//
// // additional css classes
// // you can hardcode one of them on the <body> tag
// // or switch dynamically during runtime with [class]
// .my-light-theme {
//   @include angular-material-theme($my-light-theme);
// }
//
// .my-dark-theme {
//   @include angular-material-theme($my-dark-theme);
// }
