
h1 {
  text-align: center;
  font-family: 'justbecool', monospace;
}

.full-width {
  width: 100%;
}
/*
.card-panel .row {
  margin-bottom: 0;
}

.card-panel .mat-form-field {
  width: 90%;
  margin: 1em
}

.mat-form-field {
  width: 100%;
}

input.mat-input-element {
  border-bottom: none;
  margin: -0.0625em 0 0 0;
  height: 100%;
}
input.mat-input-element:focus,
input[type=email].mat-input-element:focus,
input[type=tel].mat-input-element:focus,
input[type=date].mat-input-element:focus {
  box-shadow: none;
  border-bottom: none;
  height: 100%;
} */
