
  <a (click)="goBack()" class="btn-floating btn-large waves-effect waves-light teal lighten-2" style="top: 14px; left: -135px;">
    <i class="material-icons">navigate_before</i>
  </a>

  <div class="row">
    <h2 class="center">add circle</h2>
  </div>

  <div class="row">
    <form class="col s8 offset-s2 card-panel"
          (ngSubmit)="addCircle()" #addCircleForm="ngForm">

      <div class="section">
        <div class="row">
          <div class="col s12">
            <mat-form-field>
              <input matInput placeholder="circle name" [(ngModel)]="circle.name" name="circle.name">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <table cellspacing="0">
              <tr>
                <td>
                  <mat-form-field>
                    <mat-select placeholder="does this belong to a group?" [(value)]="parentCircle">
                      <mat-option *ngFor="let circle of allCircles" [value]="circle">{{circle.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-select placeholder="does it have any subgroups?" multiple [(value)]="selectedChildCircles">
                      <mat-option *ngFor="let circle of allCircles" [value]="circle">{{circle.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <mat-form-field>
              <mat-select placeholder="add friends to your circle" multiple [(value)]="selectedFriends">
                <mat-option *ngFor="let friend of friends" [value]="friend">{{friend.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col s4 offset-s4">
            <button type="submit" class="btn waves-effect waves-light" name="action"
                    [disabled]="!addCircleForm.form.valid">
              Add Circle <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>

    </form>
  </div>
