
  <mat-card class="circles" *ngFor="let circle of circles">
    <mat-card-title>{{circle.name}}</mat-card-title>
    <ul>
      <li *ngFor="let friend of circle.friends">
        {{friend}}
      </li>
    </ul>
  </mat-card>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button data-target="modal1" class="btn-floating btn-large waves-effect waves-light teal lighten-2">
      <i class="material-icons">add</i>
    </button>
  </div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  
