
  <!-- <div class="fixed-action-btn" style="top: 70px; left: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light teal lighten-2"
        routerLink="/app/home">
      <i class="material-icons">arrow_back</i>
    </a>
  </div> -->

  <div class="row">
    <div class="col s4">
      <div class="card body-font">
        <div class="card-image">
          <img src="{{model._img}}">
        </div>
        <div class="card-content">
          <div class="chip" *ngFor="let circle of model._circles">{{circle.name}}</div>
        </div>
        <div class="card-action">
          <a *ngIf="model._email" href="mailto:{{model._email}}"><i class="material-icons">email</i></a>
          <a *ngIf="model._phone" href="{{model._phone}}"><i class="material-icons">phone</i></a>
          <a *ngIf="model._extra" href="{{model._extra}}"><i class="material-icons">explicit</i></a>
        </div>
      </div>
    </div>

    <div class="col s1"></div>

    <div class="col s7">
      <h1 class="secondary">{{model._name}}</h1>
      <h2 class="secondary-font">{{model._location}}</h2>
      <p *ngIf="model._reminder" class="body-font">reminder set for every {{model._reminder}}</p>

      <!-- dates -->
      <div class="card body-font">
        <div class="card-content">
          <span class="card-title">important dates
            <span class="badge"><a><i class="material-icons">add</i></a></span>
          </span>
          <div *ngIf="model._dates">
            <ul *ngFor="let date of model._dates" class="collection">
              <li class="collection-item">{{date}}</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- names -->
      <div class="card body-font">
        <div class="card-content">
          <span class="card-title">important names
            <span class="badge"><a><i class="material-icons">add</i></a></span>
          </span>
          <div *ngIf="model._names">
            <ul *ngFor="let name of model._names" class="collection">
              <li class="collection-item">{{name}}</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- notes -->
      <div class="card body-font">
        <div class="card-content">
          <span class="card-title">notes
            <span class="badge"><a (click)="openDialog()"><i class="material-icons">add</i></a></span>
          </span>
          <div *ngIf="model._notes">
            <ul *ngFor="let note of model._notes" class="collection">
              <li class="collection-item">{{note}}</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a routerLink="/app/profile/edit" class="btn-floating btn-large waves-effect waves-light teal lighten-2">
      <i class="material-icons">edit</i>
    </a>
  </div>
