
  <a (click)="goBack()" class="btn-floating btn-large waves-effect waves-light teal lighten-2" style="top: 14px; left: -135px;">
    <i class="material-icons">navigate_before</i>
  </a>

  <div class="row">
    <div class="col s4">
      <div class="card body-font">
        <div class="card-image">
          <img src="{{model._img}}">
        </div>
        <div id="sidebar-content">
          <div class="card-content">
            <div class="chip" *ngFor="let circle of model._circles">
              <a routerLink="/app/friends/{{circle.id}}">{{circle.name}}</a>
            </div>
          </div>
          <div class="card-action">
            <a *ngIf="model._email" href="mailto:{{model._email}}"><i class="material-icons">email</i></a>
            <a *ngIf="model._phone" href="tel:{{model._phone}}"><i class="material-icons">phone</i></a>
            <a *ngIf="model._extra" href="{{model._extra}}"><i class="material-icons">explicit</i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s1"></div>

    <div class="col s7">
      <h1 class="secondary">{{model._name}}</h1>
      <h5 *ngIf="model._job">{{model._job}}</h5>
      <h4 *ngIf="model._location"><i class="material-icons">location_on</i> {{model._location}}</h4>
      <p *ngIf="model._reminder" class="body-font">reminder set for every {{model._reminder}}</p>

      <!-- dates -->
      <div *ngIf="model._dates" class="card body-font">
        <div class="card-content">
          <span class="card-title">important dates
            <!-- <span class="badge"><a><i class="material-icons">add</i></a></span> -->
          </span>
          <ul *ngFor="let date of model._dates" class="collection">
            <li class="collection-item">{{date}}</li>
          </ul>
        </div>
      </div>

      <!-- notes -->
      <div *ngIf="model._notes" class="card body-font">
        <div class="card-content">
          <span class="card-title">notes</span>
          <p>{{model._notes}}</p>
          <!-- <mat-form-field>
            <textarea matInput>{{notes}}</textarea>
          </mat-form-field> -->
        </div>
      </div>

    </div>
  </div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a routerLink="/app/profile/{{routeId}}/edit" class="btn-floating btn-large waves-effect waves-light teal lighten-2">
      <i class="material-icons">edit</i>
    </a>
  </div>
