
  <span class="back">
    <button mat-fab class="secondary-font">back</button>
  </span>

  <h1 class="brand">First Last</h1>
  <h2 class="secondary-font">met @ university of rochester</h2>
  <mat-card class="body-font">
    <span class="">Last contact</span>
    <span>2 months ago</span>
  </mat-card>
  <p class="body-font">reminder set for every 3 months</p>
  <mat-card class="body-font">
    <mat-card-header>
      Important Dates
    </mat-card-header>
    <span class="">Last contact</span>
    <span>2 months ago</span>
  </mat-card>
  
