
  <a (click)="goBack()" class="btn-floating btn-large waves-effect waves-light teal lighten-2" style="top: 14px; left: -135px;">
    <i class="material-icons">navigate_before</i>
  </a>

  <div class="row">
    <h2 class="center">add friend</h2>
  </div>

  <div class="row">
    <form class="col s8 offset-s2 card-panel"
          (ngSubmit)="addFriend()" #addFriendForm="ngForm">

      <div class="section">
        <div class="row">
          <div class="col s12">
            <mat-form-field>
              <input matInput placeholder="name" [(ngModel)]="friend.name" name="friend.name">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <mat-form-field>
              <input matInput type="email" placeholder="email" [(ngModel)]="friend.email" name="friend.email">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <mat-form-field>
              <mat-select placeholder="add to a circle" multiple [(value)]="friend.circles">
                <mat-option *ngFor="let circle of circles" [value]="circle">{{circle.name}}</mat-option>
                <!-- <mat-option>
                  <input matInput placeholder="Add a new circle">
                </mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col s4 offset-s4">
            <button type="submit" class="btn waves-effect waves-light" name="action"
                    [disabled]="!addFriendForm.form.valid">
              Add Friend <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>

    </form>
  </div>
