/************/
/* Abegnale */
/************/
@font-face {
  font-family: "abegnale";
  src: url("fonts/Abegnale.otf") format("opentype");
}

/***********/
/* Sayless */
/***********/
@font-face {
  font-family: "sayless";
  src: url("fonts/sayless.otf") format("opentype");
}

/************/
/* San Fran */
/************/
@font-face {
  font-family: "san-francisco";
  src: url("fonts/SanFranciscoFont-master/SanFranciscoText-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "san-francisco";
  src: url("fonts/SanFranciscoFont-master/SanFranciscoText-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "san-francisco";
  src: url("fonts/SanFranciscoFont-master/SanFranciscoText-Semibold.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "san-francisco";
  src: url("fonts/SanFranciscoFont-master/SanFranciscoText-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "san-francisco";
  src: url("fonts/SanFranciscoFont-master/SanFranciscoText-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
