
  <a (click)="goBack()" class="btn-floating btn-large waves-effect waves-light teal lighten-2" style="top: 14px; left: -135px;">
    <i class="material-icons">navigate_before</i>
  </a>

  <div class="row">
    <h2 class="center">edit profile</h2>
  </div>

  <div class="row">
    <form class="col s8 offset-s2 card-panel"
          (ngSubmit)="editProfile()" #editProfileForm="ngForm">

      <div class="section">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" class="validate" id="model.name"
                    [(ngModel)]="model.name" name="model.name">
            <label for="model.name">Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="email" class="validate" id="model.email"
                    [(ngModel)]="model.email" name="model.email">
            <label for="model.email">Email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="tel" class="validate" id="model.phone"
                    [(ngModel)]="model.phone" name="model.phone">
            <label for="model.phone">Phone</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="text" class="validate" id="model.location"
                    [(ngModel)]="model.location" name="model.location">
            <label for="model.location">Location</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="text" class="validate" id="model.job"
                    [(ngModel)]="model.job" name="model.job">
            <label for="model.job">Job</label>
          </div>
        </div>

        <div class="row">
          <div class="col s4 offset-s4">
            <button type="submit" class="btn waves-effect waves-light" name="action"
                    [disabled]="!editProfileForm.form.valid">
              Finish Editing <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="section">
        <a class="delete" (click)="deleteProfile()">Delete this profile</a>
      </div>

    </form>
  </div>
