
  <a (click)="goBack()" class="btn-floating btn-large waves-effect waves-light teal lighten-2" style="top: 14px; left: -135px;" >
    <i class="material-icons">navigate_before</i>
  </a>

  <div class="row">
    <div class="col s4">
      <div class="card body-font">
        <div class="card-image">
          <img (click)='openPhotoDialog()' src="{{model._img}}">
        </div>
        <div id="sidebar-content">
          <div class="card-content">
            <h4>circles <span class="badge" (click)="openCirclesDialog()"><a><i class="material-icons">add</i></a></span></h4>
            <div class="row chipListRow">
              <mat-chip-list>
                <mat-chip *ngFor="let circle of model.circles" (remove)="removeCircle(circle)">
                    {{circle.name}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div class="card-action">
            <div class="row">
              <mat-form-field>
                <mat-icon matPrefix>email</mat-icon>
                <input type="email" matInput placeholder="Email" [(ngModel)]="model.email" name="email">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field>
                <mat-icon matPrefix>phone</mat-icon>
                <input type="tel" matInput placeholder="Phone" [(ngModel)]="model.phone" name="phone">
              </mat-form-field>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="card-content">
            <a class="delete" (click)="deleteProfile()">Delete {{model.name}}'s profile</a>
          </div>

        </div>
      </div>
    </div>

    <div class="col s1"></div>

    <div class="col s7">
      <div class="card-panel">
        <div class="row">
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="model.name" name="name">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field>
            <input matInput placeholder="Job" [(ngModel)]="model.job" name="job">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field>
            <input matInput placeholder="Location" [(ngModel)]="model.location" name="location">
          </mat-form-field>
        </div>

        <div class="row">
          <h5 class="body-font">
            important dates <span class="badge"><a><i class="material-icons">add</i></a></span>
          </h5>
          <table cellspacing="0">
            <tr>
              <td><mat-form-field>
                <input matInput placeholder="Occassion">
              </mat-form-field></td>
              <td><mat-form-field>
                <input type="date" matInput>
              </mat-form-field></td>
            </tr>
          </table>
        </div>

        <div class="row">
          <h5 class="body-font">
            important names <span class="badge"><a><i class="material-icons">add</i></a></span>
          </h5>
          <table cellspacing="0">
            <tr>
              <td><mat-form-field>
                <input matInput placeholder="Relationship">
              </mat-form-field></td>
              <td><mat-form-field>
                <input matInput placeholder="Name">
              </mat-form-field></td>
            </tr>
        </table>
        </div>

        <div class="row">
          <h5 class="body-font">notes</h5>
          <mat-form-field>
            <textarea matInput [(ngModel)]="model.notes"></textarea>
          </mat-form-field>
        </div>

        <div class="row">
          <button class="btn waves-effect waves-light right" (click)="editProfile()">Save Changes</button>
        </div>
      </div>
    </div>

  </div>
