
  <div class="row">
    <h1>Edit My Profile</h1>
  </div>

  <div class="row">
    <form class="col s8 offset-s2 card-panel"
          (ngSubmit)="editProfile()" #editProfileForm="ngForm">

      <div class="section">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" class="validate" id="model.name" required
                    [(ngModel)]="model.name" name="model.name">
            <label for="model.name">Name</label>
          </div>
        </div>

        <button type="submit" class="btn waves-effect waves-light" name="action"
                [disabled]="!editProfileForm.form.valid">
          Finish Editing <i class="material-icons right">send</i>
        </button>
      </div>

    </form>
  </div>
