{% extends "base.html" %}

{% block content %}

<h1>add a contact</h1>
<br>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.name(placeholder="name") }}
    <span class="error">
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.email(placeholder="email") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
   <p>
    {{ form.location(placeholder="location") }}
    <span class="error">
      {% if form.location.errors %}
        {% for error in form.location.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" type="submit">add friend!</button>
</form>

{% endblock %}
