<!DOCTYPE html>
<html>
  <head>
    <title>MezAmis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
  </head>

  <style>
    @font-face {
      font-family: "abegnale";
      src: url("fonts/Abegnale.otf") format("opentype");
    }
    .brand, h1 {
      font-family: 'abegnale', monospace;
    }
  </style>

  <body class="cyan lighten-5">

  <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{{ app_id }}',
                status     : true,
                cookie     : true,
                version    : 'v2.11',
                xfbml      : true
            });
            var res = FB.Event.subscribe('auth.login', function(response) {
                window.location = window.location;
                console.log("just called auth login and got a response..");
                console.log(response);
            });
            console.log("res");
            console.log(JSON.stringify(res));
            console.log("hello")
        };
        // Load the SDK Asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            console.log("in the function(d, s, id)");
            console.log("js\n", js);
            console.log("fjs\n", fjs)
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <div class="container">

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <!-- messages -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
