{% extends "base.html" %}

{% block content %}

<h1>add circle</h1>
<br>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.friend_id(placeholder="friend_id") }}
    <span class="error">
      {% if form.friend_id.errors %}
        {% for error in form.friend_id.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>

  <button class="btn btn-sm btn-success" type="submit">see all circles for this friend</button>
</form>

{% endblock %}
