
.full-width {
  width: 100%;
}

.delete {
  color: #9e9e9e;
}
.delete:hover {
  text-decoration: underline;
}

/* card panel UI */
.card-panel .row {
  margin-bottom: 0;
}

h4 {
  font-size: 1.5rem;
}

.chipListRow {
  margin-left: 0em;
  margin-bottom: 1.5em!important;
}
