
  <a (click)="goBack()" class="btn-floating btn-large waves-effect waves-light teal lighten-2" style="top: 14px; left: -135px;">
    <i class="material-icons">navigate_before</i>
  </a>

  <div class="row">
    <h2 class="center">edit circle</h2>
  </div>

  <div class="row">
    <div class="col s8 offset-s2 card-panel">
      <mat-spinner *ngIf="friendsLoading && circleLoading" [color]="accent" class="col"></mat-spinner>
      <div class="section" *ngIf="!friendsLoading && !circleLoading">
        <div class="row">
          <mat-form-field>
            <input matInput placeholder="circle name" [(ngModel)]="circle.name" name="circle.name">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="belongs to" [(value)]="parentCircle">
              <mat-option>none</mat-option>
              <mat-option *ngFor="let circle of allCircles" [value]="circle">
                {{ circle.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <h4>subgroups <span class="badge" *ngIf="allCircles" (click)="openChildCirclesDialog()">
          <a><i class="material-icons">add</i></a></span></h4>
        <div *ngIf="childCircles" class="row chipListRow">
          <mat-chip-list #childCirclesList>
            <mat-chip *ngFor="let circle of childCircles" (remove)="removeChildCircle(circle)">
                {{circle.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

        <mat-divider></mat-divider>

        <h4>friends <span class="badge" *ngIf="allFriends">
          <a (click)="openFriendsDialog()"><i class="material-icons">add</i></a></span></h4>
        <div *ngIf="friends" class="row chipListRow">
          <mat-chip-list #childCirclesList>
            <mat-chip *ngFor="let friend of friends" (remove)="removeFriend(friend)">
                {{friend.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

        <div class="row">
          <div class="col s4 offset-s4">
            <button (click)="saveChanges()" class="btn waves-effect waves-light" name="action">Save Changes</button>
          </div>
        </div>

        <div class="row">
          <a class="delete" (click)="deleteCircle()">Delete circle</a>
        </div>
      </div>

    </div>
  </div>
